<div class="chat-container">
  <div class="chat-row">
      <div class="col-xs-6">
        <div class="chat-header">
          <div id="room" class="room-name" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.nickname %> さんとのチャット</div>
          <div class="back-chat">
            <%= link_to "戻る", user_path(@user.id), class: "back-chat-btn" %>
          </div>
        </div>
        
        <div class="chat-content">
            <%= form_with model: @direct_message, id: :message, class: "chat-actions" do |f| %>
              <%= f.text_field :content, class: "content-text" %>
              <%= f.submit '送信', class: 'form-submit' %>
              <%= f.hidden_field :room_id %>
            <% end %>

          <div class="messages">
            <div id='messages'>
              <% @direct_messages.each do |dm| %>
                <p><%= dm.user.nickname %> : <%= dm.content %></p>
                <% if dm.user_id == current_user.id %>
                  <%= link_to "削除", direct_message_path(dm.id), method: :delete, class:"direct-messages-destroy" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>