<div class="contents_row">  
  
  <div class="container">
    <h2>サインアップ</h2>
    <%= form_with model: @user, url: user_registration_path, method: "post", class: 'registration-main', local: true do |f| %>
      
    <%= render 'devise/shared/error_messages', model: f.object %>
    
    <div class="img-upload">
      <div class="weight-bold-text">
        ユーザー画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label for="nickname", class="form-text">ニックネーム</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) game次郎", maxlength:"10" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label for="email", class="form-text">メールアドレス</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label for="password", class="form-text">パスワード</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
      <p class='info-text'>※英字と数字の両方を含めて設定してください</p>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label for="password-confirmation", class="form-text">パスワード(確認)</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label for="user-age", class="form-text">年齢</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:age_id, Age.all, :id, :name, {}, {class:"select-box", id:"user-age"}) %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label for="user-sex", class="form-text">性別</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:sex_id, Sex.all, :id, :name, {}, {class:"select-box", id:"user-sex"}) %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label for="user-voice", class="form-text">ボイスチャット</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:voice_id, Voice.all, :id, :name, {}, {class:"select-box", id:"user-voice"}) %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label for="user-platform", class="form-text">使用プラットフォーム</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:platform_id, Platform.all, :id, :name, {}, {class:"select-box", id:"user-platform"}) %>
    </div>

    <div id="form-group-favorite" class="form-group-favorite">
      <div id="favorite_box">
      <label class="item_input__body__label" id="size_box">
        プレイするゲーム
        <span class="required">必須</span>
      </label>
      </div>
      <div class="pulldown" id="favorite_selectbox">
        <%= f.collection_select(:favorite_id, Favorite.all, :id, :name, {}, {class:"favorite_box"}) %>
      </div>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label for="profile" class="form-text">プロフィール</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :profile, class:"input-default", id:"profile", placeholder:"他のユーザーにひとこと！" %>
    </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </div>

</div>


