<div class="btn-wrapper">
  <div class="header-logo">
    <%= link_to image_tag("logo.png", class:"logo-icon"), "/" %>
  </div>
  <div class="header-right">
  <% if user_signed_in? %>
    <i class="fas fa-search"></i><%= link_to 'ユーザー検索', users_path, class: "user-search" %>
    <i class="fas fa-sign-out-alt"></i><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
    <i class="fas fa-user-circle"></i><%= link_to "マイページ", "/users/#{current_user.id}", class: "user-nickname" %>
  <% else %>
    <i class="fas fa-sign-in-alt"></i><%= link_to 'ログイン', new_user_session_path, class: "login" %>
    <i class="fas fa-user-plus"></i><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
  <% end %>
  </div>
</div>