<h1>検索結果</h1>
<% if @users.length !=0 %>
  <% @users.each do |user| %>
  <li class='list'>
    <%= link_to user_path(user.id), method: :get do %>
      <div class='user-img-content'>
        <%= image_tag user.image, class: "user-img" %>
      </div>
      <div class='user-info'>
        <h3 class='user-name'>
          <%= user.nickname %>
        </h3>
        <div class='user-platform'>
          <%= user.platform.name %>
        </div>
        <div class='user-favorite'>
          <%= user.favorite.name %>
        </div>
      </div>
    <% end %>
  </li>
  <% end %>
<% else %>
  該当するユーザーはいません
<% end %>
<br>
<%= link_to "ユーザー一覧ページへ戻る", users_path, class: "user-index-btn" %>