<%= render "devise/shared/header" %>

<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの情報"%>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <td class="table__col1"><%= image_tag @user.image, class: "user-img" %></td>
          </tr>
          <p class="text-small">
            <%= link_to @user.followings.count, followings_user_path(@user) %> フォロー
            <%= link_to @user.followers.count, followers_user_path(@user) %> フォロワー
          </p>
          <tr>
            <td class="table__col1"><%= @user.nickname %></td>
          </tr>
          <tr>
            <td class="table__col2"><%= @user.age.name %></td>
          </tr>
          <tr>
            <th class="table__col1">性別</th>
            <td class="table__col2"><%= @user.sex.name %></td>
          </tr>
          <tr>
            <th class="table__col1">ボイスチャット</th>
            <td class="table__col2"><%= @user.voice.name %></td>
          </tr>
          <tr>
            <th class="table__col1">使用プラットフォーム</th>
            <td class="table__col2"><%= @user.platform.name %></td>
          </tr>
          <tr>
            <th class="table__col1">よくプレイするゲーム</th>
            <td class="table__col2"><%= @user.favorite.name %></td>
          </tr>
          <tr>
            <th class="table__col1">プロフィール</th>
            <td class="table__col2"><%= @user.profile %></td>
          </tr>
        </tbody>
      </table>
      <div class="btn">
        <% if user_signed_in? && current_user.id == @user.id %>
          <%= link_to "ユーザー情報を編集する", edit_user_path(@user.id), class:"user-btn" %>

        <% else %>
          <!-- 既にroomが存在していれば既存のroomへ -->
          <% if @isRoom == true %>
            <!-- メールアイコンでroomに飛べるようにする -->
            <%= link_to room_path(@roomId) do %>
              <button id="dm_submit"><i class="fas fa-envelope"></i></button>
            <% end %>
          <% else %>
            <!-- roomが存在していなければroomを作成する  -->
            <%= form_for @room, url: rooms_path do |f| %>
              <%= fields_for @entry do |e| %>
                <%= e.hidden_field :user_id, :value=> @user.id %>
              <% end %>
              <button type="submit" id="dm_submit"><i class="fas fa-envelope"></i></button>
            <% end %>
          <% end %>
          <div>
          <% if @user.is_followed_by?(current_user) %>
            <%= link_to user_relationships_path(@user), method: :delete do %>
              <button class="btn btn-danger">フォロー解除</button>
            <% end %>
          <% else %>
            <%= link_to user_relationships_path(@user), method: :post do %>
              <button class="btn btn-primary">フォロー</button>
            <% end %>
          <% end %>
        <% end %>
        <%= link_to "ユーザー一覧ページへ", users_path, class: "user-index-btn" %>
      </div>
    </div>
  </div>
</div>